*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
#Homedgfawfv .Slxdj {
    background: #fff !important;
    box-shadow: none !important;
    border-radius: none;
    font-size: 18px;
    color: #999;
}
#Homedgfawfv .kXteup {
    background: #fff !important;
    box-shadow: none !important;
    border-radius: none;
    font-size: 18px;
    color: #999;
}
#Homedgfawfv .jtKTCe{
    display: none !important;
}